{% macro render_field_with_errors(field) %}
  {% if field.type == 'RadioField' %}
  <div class="uk-form-row{% if 'visibility' in kwargs %} uk-hidden{% endif %}">
    <div class="uk-form-controls">
      {% for subfield in field %}
        {{ subfield }}
        {{ subfield.label }}
      {% endfor %}
    </div>
  </div>

  {% elif field.type == 'DateTimeField' %}

  <div class="uk-form-row">
    <input type="text" name="{{ field.name }}_date" readonly="readonly" value="{{ field.data.strftime('%m/%d/%Y') }}" data-uk-datepicker="{format:'MM/DD/YYYY'}">
  </div>

  <div class="uk-form-row">
    <input type="text" name="{{ field.name }}_time" value="{{ field.data.strftime('%I:%M %p') }}" data-uk-timepicker="{showMeridian:true}">
  </div>

  {% elif field.type == 'BooleanField' %}
  <div class="uk-form-controls uk-form-controls-text uk-margin row-with-checkbox">
  {{ field() }}
  {{ field.label }}
  </div>
  {% else %}

{% if not 'norow' in kwarg %}
{% if not kwargs['norow'] == 'end' and not kwargs['norow'] == 'middle' %}
<div class="uk-form-row{% if 'sr' in kwargs %} sr-only{% endif %}{% if 'hidden' in kwargs %} uk-hidden{% endif %}">
{% endif %}
{% endif %}
    {% if field.errors %}
    {{ field.label(class="uk-form-label") }} {{ field(class="uk-form-danger uk-form-width-medium",placeholder=field.label.text)|safe }}
      <ul class="uk-list">
      {% for error in field.errors %}
        <li class="uk-text-danger">{{ error }}</li>
      {% endfor %}
      </ul>
    {% else %}
      {% if 'pre' in kwargs %}<div class="input-group">{% endif %}
    {{ field.label(class="uk-form-label") }} 
      {% if 'pre' in kwargs %}
        <span>{{ kwargs['pre'] }}</span>
      {% endif %}
    {{ field(class="uk-form-width-medium %s %s %s %s" % (kwargs['special'],kwargs['time'],kwargs['solo'],kwargs['postbutton']), placeholder=field.label.text)|safe }}
    {% if 'postbutton' in kwargs %}
    <a href="#" class="uk-button uk-button-small uk-button-success addable-{{ field.type.lower() }}" id="addable-{{ field.name }}"><i class="uk-icon-plus"></i> </a>
    {% endif %}
    {% if 'pre' in kwargs %}</div>{% endif %}
    {% endif %}
{% if not 'norow' in kwarg %}
{% if not kwargs['norow'] == 'start' and not kwargs['norow'] == 'middle' %}
</div>
{% endif %}
{% endif %}
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}