{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
			<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form_form">
				{{ forgot_password_form.hidden_tag() }}
				<fieldset>
					<legend>Reset</legend>
						{{ render_field_with_errors(forgot_password_form.email) }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Recover password">
					</div>
				</fieldset>
			</form>
			{% include "security/_menu.html" %}
		</div>
	</div>
</div>
{% endblock %}