{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div id="login-area" class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<h2 style="font-weight:bold;color:white; text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;">Welcome back!</h2>
		<div class="uk-panel uk-panel-box uk-width-medium-1-3 uk-container-center uk-text-center">
			<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="uk-form">
				{{ login_user_form.hidden_tag() }}
				<fieldset>
					<legend>Login</legend>
						{{ render_field_with_errors(login_user_form.email,sr='only') }}
						{{ render_field_with_errors(login_user_form.password,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Login">
					</div>
				</fieldset>
			</form>
			{% include "security/_menu.html" %}
		</div>
	</div>
</div>
<style type="text/css">
body{
	background: url('/static/img/grey.png');
}
</style>
{% endblock %}