{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div id="register-area" class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<h2 style="font-weight: bold: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;">Your new GoTotGo account</h2>
		<div class="uk-panel uk-panel-box uk-width-medium-1-3 uk-container-center uk-text-center">
			<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" class="uk-form">
				{{ register_user_form.hidden_tag() }}
				<fieldset>
					<legend>Register</legend>
						{{ render_field_with_errors(register_user_form.email,sr='only') }}
						{{ render_field_with_errors(register_user_form.password,sr='only') }}
						{{ render_field_with_errors(register_user_form.password_confirm,sr='only') }}
					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Register">
					</div>
				</fieldset>
			</form>
			{% include "security/_menu.html" %}
		</div>
	</div>
</div>
<style type="text/css">
body{
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) no-repeat scroll 0% 0% rgb(232, 235, 239);
}
</style>
{% endblock %}