{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% macro hour_picker(url,form_name,form_id,name_field=True,closed_fields=False) %}
<div data-uk-button-radio class="uk-button-group" data-uk-switcher="{connect:'#day-switcher'}">
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_mon %}
	<button title="Monday" class="uk-button uk-button-small uk-active">M</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_tues %}
	<button title="Tuesday" class="uk-button uk-button-small">T</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_weds %}
	<button title="Wednesday" class="uk-button uk-button-small">W</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_thurs %}
	<button title="Thursday" class="uk-button uk-button-small">T</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_fri %}
	<button title="Friday" class="uk-button uk-button-small">F</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_sat %}
	<button title="Saturday" class="uk-button uk-button-small">S</button>
	{% endif %}
	{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_sun %}
	<button title="Sunday" class="uk-button uk-button-small">S</button>
	{% endif %}
</div>
<form class="uk-form uk-margin-top uk-form-stacked" action="{{ url }}" method="POST" name="form_name" id="{{ form_id }}" class="uk-form">
	{{ form_name.hidden_tag() }}
	{% if name_field %}
	{{ render_field_with_errors(form_name.name,sr='only') }}
	{% endif %}
	<hr>
	<ul id="day-switcher" class="uk-switcher">
		<li>
			<h3>Monday</h3>
			{{ render_field_with_errors(form_name.closed_mon) }}
			{{ render_field_with_errors(form_name.mon_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.mon_end,sr='only',special='cal',time="cal-end") }}
		</li>
		<li>
			<h3>Tuesday's Hours</h3>
			{{ render_field_with_errors(form_name.closed_tues) }}
			{{ render_field_with_errors(form_name.tues_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.tues_end,sr='only',special='cal',time="cal-end") }}
		</li>
		<li>
			<h3>Wednesday</h3>
			{{ render_field_with_errors(form_name.closed_weds) }}
			{{ render_field_with_errors(form_name.weds_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.weds_end,sr='only',special='cal',time="cal-end") }}
		</li>								
		<li>
			<h3>Thursday</h3>
			{{ render_field_with_errors(form_name.closed_thurs) }}
			{{ render_field_with_errors(form_name.thurs_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.thurs_end,sr='only',special='cal',time="cal-end") }}
		</li>
		<li>
			<h3>Friday</h3>
			{{ render_field_with_errors(form_name.closed_fri) }}
			{{ render_field_with_errors(form_name.fri_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.fri_end,sr='only',special='cal',time="cal-end") }}
		</li>
		<li>
			<h3>Saturday</h3>
			{{ render_field_with_errors(form_name.closed_sat) }}
			{{ render_field_with_errors(form_name.sat_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.sat_end,sr='only',special='cal',time="cal-end") }}
		</li>
		<li>
			<h3>Sunday</h3>
			{{ render_field_with_errors(form_name.closed_sun) }}
			{{ render_field_with_errors(form_name.sun_start,sr='only',special='cal',time="cal-start") }}
			<h4>to</h4>
			{{ render_field_with_errors(form_name.sun_end,sr='only',special='cal',time="cal-end") }}
		</li>
	</ul>
	<hr>

	<div class="uk-margin">
		<a href="#" class="uk-button uk-button-small" id="duplicate-hours">Use these hours for all days</a>
	</div>

	<div data-uk-button-radio class="uk-button-group" data-uk-switcher="{connect:'#day-switcher'}">
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_mon %}
		<button title="Monday" class="uk-button uk-button-small uk-active">M</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_tues %}
		<button title="Tuesday" class="uk-button uk-button-small">T</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_weds %}
		<button title="Wednesday" class="uk-button uk-button-small">W</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_thurs %}
		<button title="Thursday" class="uk-button uk-button-small">T</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_fri %}
		<button title="Friday" class="uk-button uk-button-small">F</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_sat %}
		<button title="Saturday" class="uk-button uk-button-small">S</button>
		{% endif %}
		{% if not g.current_school.school_hours.name or not g.current_school.school_hours.closed_sun %}
		<button title="Sunday" class="uk-button uk-button-small">S</button>
		{% endif %}
	</div>
	<div class="uk-form-row uk-margin-top">
		<input type="submit" class="uk-button uk-button-primary" value="Save All Days">
	</div>
	</form>
{% endmacro %}