{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Attendance Log for {{ who }}</h1>
		<div>
			{% if not is_staff %}
			<a href="{{ url_for('back.attendance_log_with_date',log_date=yesterday.strftime('%m-%d-%Y')) }}" class="uk-button uk-button-small"><i class="uk-icon-chevron-left"></i></a> 
			{{ today.strftime('%m/%d/%y') }}
			<a href="{{ url_for('back.attendance_log_with_date',log_date=tomorrow.strftime('%m-%d-%Y')) }}" class="uk-button uk-button-small"><i class="uk-icon-chevron-right"></i></a> 

			{% else %}
			<a href="{{ url_for('back.attendance_staff_log_with_date',log_date=yesterday.strftime('%m-%d-%Y'),staff_id=staff_id) }}" class="uk-button uk-button-small"><i class="uk-icon-chevron-left"></i></a> 
			{{ today.strftime('%m/%d/%y') }}
			<a href="{{ url_for('back.attendance_staff_log_with_date',log_date=tomorrow.strftime('%m-%d-%Y'),staff_id=staff_id) }}" class="uk-button uk-button-small"><i class="uk-icon-chevron-right"></i></a>
			{% endif %}
		</div>
		{% if not attendance_log %}
		<p>No Attendance here yet</p>
		{% else %}
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<thead>
				<tr>
					<th>Time</th>
					<th>Status</th>
					<th>Kid</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for attendance in attendance_log %}
				{% if attendance.user %}
				<tr>
					<td>{{ attendance.time.strftime('%m/%d/%y %I:%M:%S %p') }}</td>
					<td>{% if attendance.status == 1 %}In{% else %}Out{% endif %}</td>
					<td>{% if not attendance.kid %}<em>(deleted)</em>{% endif %}{{ attendance.kid.first_name }} {{ attendance.kid.last_name }}</td>
					<td>{{ attendance.user.person.first_name }} {{ attendance.user.person.last_name }}</td>
					<td><a href="{{ url_for('back.attendance_edit',attendance_id=attendance.id) }}" class="uk-button uk-button-small"><i class="uk-icon-pencil"></i> </a> <a href="{{ url_for('back.attendance_delete',attendance_id=attendance.id) }}" class="uk-button uk-button-small uk-button-danger delete-attendance" data-url="{{ url_for('back.attendance_delete',attendance_id=attendance.id) }}">X</a></td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/moment.min.js') }}"></script>
<script type="text/javascript">
$(function(){
	$(".time-ago").each(function(){
		$(this).text(moment($(this).attr('data-time')).from(new Date()))	
	});

	$("a.delete-attendance").on("click",function(e){
		e.preventDefault();
		if(confirm('Are you sure you want to delete this attendance record?')){
			var $this = $(this);
			$.ajax({
				type: "DELETE",
				url: $this.attr('data-url'),
			})
			.done(function(data){
				$this.closest('tr').remove();
			});
		}
	});
})
</script>
{% endblock %}