{% extends "back/back_layout.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lib/markdownarea.almost-flat.min.css') }}" />
{% endblock %}
{% block content %}
<div id="dash" class="p-section p-section-color-3 p-section-colored">
	<div class="uk-container uk-container-center {% if not remove_center %}uk-text-center{% endif %}">
		<div class="uk-grid" data-uk-grid-margin="">
			<div class="uk-width-medium-8-10">
				{# flash message #}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="uk-width-1-3 uk-container-center uk-text-center">
					<div class="uk-alert" data-uk-alert>
						<a href="" class="uk-alert-close uk-close"></a>
						<ul class="uk-list">
							{% for message in messages %}
							<li>{{ message |safe }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				{% endwith %}
				{% block dash_content %}
				{% endblock %}
			</div>
			<div class="uk-width-2-10 uk-hidden-small" id="right-nav">
				<ul class="uk-tab uk-tab-right uk-text-left uk-width-medium-1-2">
					{% if not current_user.is_attendance() or g.is_director %}
					<li {% if request.endpoint == 'back.home' or request.endpoint == 'back.kids_show' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/">Kids</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.groups' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/groups/">Groups</a>
					</li>
					{% endif %}
					{% if g.is_admin and g.current_school.billing_on %}
					<li {% if request.endpoint == 'back.bills' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/bills/">Bills</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.staff' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/staff/">Staff</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.parents' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/parents/">Parents 
							{% if g.pending_parents %}<span class="uk-badge uk-badge-danger">{{ g.pending_parents }}</span>{% endif %}
						</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.schedules' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/schedules/">Schedules</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.reports' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/reports/">Reports</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.sign_forms' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/forms/">Forms</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
					<li {% if request.endpoint == 'back.medical' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/medical/">Medical</a>
					</li>
					{% endif %}
					{% if g.is_admin or g.is_director %}
		        	<li {% if request.endpoint == 'back.orders' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/orders/">Orders</a>
					</li>
					{% endif %} 
					{% if g.is_admin or g.is_attendance or g.is_teacher or g.is_director %}
					<li {% if request.endpoint == 'back.attendance' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/attendance/">Attendance</a>
					</li>
					{% endif %}
					{% if not g.is_attendance or g.is_director %}
					<li {% if request.endpoint == 'back.settings' %}class="uk-active"{% endif %}>
						<a href="/{{ g.current_school.u_name }}/settings/">Settings</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}