{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<div class="uk-alert uk-alert-warning" id="loading" style="display:none;position:fixed;top:10;">Loading</div>
	</div>
	<div class="uk-width-medium-1-1">
		<div class="uk-alert uk-hidden" id="drop-primary">OK!</div>
		<h1>Kids</h1>
		<p>
			<a href="{{ url_for('back.kids_in') }}"><span class="uk-badge uk-badge-success">{{ kids_in }}</span></a> <a href="{{ url_for('back.kids_out') }}"><span class="uk-badge uk-badge-danger">{{ kids_out }}</span></a>
		</p>
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#kid-form" ><i class="uk-icon-star"></i> New Kid</a>
		<div class="school-actions">
			<a href='#' id="sign-in-school" class="uk-button uk-button-small"><i class="uk-icon-sign-in"></i></a>
	 		<a href='#' id="sign-out-school" class="uk-button uk-button-small"><i class="uk-icon-sign-out"></i></a>
			<a href="#" id="message-entire-school" class="uk-button uk-button-small"><i class="uk-icon-comment-o"></i></a>
			<a class="uk-button uk-button-small" href="{{ url_for('back.import') }}"><i class="uk-icon-cloud-upload"></i></a>
		</div>
		<form action="/{{g.current_school.u_name}}/kids/" method="POST" name="kids_form" id="kid-form" class="uk-form js-expander-content">
			{{ kids_form.hidden_tag() }}
			<fieldset>
				{{ render_field_with_errors(kids_form.first_name,sr='only') }}
				{{ render_field_with_errors(kids_form.middle_name,sr='only') }}
				{{ render_field_with_errors(kids_form.last_name,sr='only') }}
				{{ render_field_with_errors(kids_form.parents,sr='only') }}
				{{ render_field_with_errors(kids_form.groups,sr='only') }}
				{{ render_field_with_errors(kids_form.allergens,sr='only') }}
				{{ render_field_with_errors(kids_form.scholarship,sr='only',pre='$') }}
				{{ render_field_with_errors(kids_form.govt,sr='only',pre='$') }}
				{{ render_field_with_errors(kids_form.extra_credit,sr='only',pre='$') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		<form class="uk-form uk-margin-top">
			<div class="uk-form-row">
				<input type="text" id="search-tots" placeholder="Search Kids">
			</div>
		</form>
		<div class="quick-nav-groups">
			{% for group in groups %}
			<a href="#{{ group.name }}" class="uk-button uk-button-mini">{{ group.name }}</a>
			{% endfor %}
			<a href="#" id="show-hold" class="uk-button uk-button-mini">On hold</a>
		</div>
	</div>
</div>

		<div id="groups-grid" data-columns>
			{% for group in groups %}
				<div data-id="{{ group.id }}" class="group-box box uk-panel uk-panel-box">
					<a id="{{ group.name }}"></a>
					<div class="group-title">{{ group.name }}</div>
				 	<div class="group-actions">
				 		<!-- <a href='#' class="uk-button uk-button-mini"><i class="uk-icon-sign-in"></i></a>
				 		<a href='#' class="uk-button uk-button-mini"><i class="uk-icon-sign-out"></i></a> -->
						<a href="{{ url_for('back.groups_activities_new',group_id=group.id) }}" class="add-activity-group uk-button uk-button-mini"><i class="uk-icon-rocket"></i></a>
						<a href="{{ url_for('back.groups_edit',group_id=group.id) }}" class="uk-button uk-button-mini"><i class="uk-icon-pencil"></i></a>
						<a href="#" data-id="{{ group.id }}" data-name="{{ group.name }}" class="group-send-message uk-button uk-button-mini"><i class="uk-icon-comment-o"></i></a>
						<a href="#" class="uk-button uk-button-mini js-expander js-expander-top" data-connect="#kid-form"><i class="uk-icon-plus"></i></a>
					</div>
					<div class="uk-panel uk-panel-box add-activity-panel" style="display:none;">
						<ul class="uk-nav uk-nav-side">
						{% for activity in activity_types %}
							<li><a href='#' class="activity-type-group" data-id="{{ activity.id }}">{{ activity.name }}</a></li>
						{% endfor %}
						</ul >
					</div>
					<div class="kid-container">
						{% for kid in group.kids_sorted %}
							{% if kid.profile_pic_smallish %}
							<div class="group-kid {{ loop.cycle('size21', 'size12') }} {% if kid.status == 1 %}kid-in{% else %}kid-out{% endif %}" data-group="{{ group.id }}" style="background:#EEE;">
							{% else %}
							<div class="group-kid {{ loop.cycle('size21', 'size12') }} {% if kid.status == 1 %}kid-in{% else %}kid-out{% endif %}" data-group="{{ group.id }}" style="background:#EEE;">
							{% endif %}
								<div class="kid-name"><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.first_name }} {{ kid.last_name[0] }}</a></div>
								<div class="profile-pic uk-overlay">
									<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
										{% if kid.allergens.all() | length %}
										<div class="allergens">
										{% for aller in kid.allergens.all() %}
										<p>{{ aller.name }}</p>
										{% endfor %}
										</div>
										{% endif %}
										{% if kid.profile_pic_smallish %}
										<div class="crop-me uk-thumbnail kid-profile-pic" style="width:86px;height:86px;">
											<img src="{{ kid.profile_pic_smallish }}">
										</div>
										{% else %}
										<div class="crop-me uk-thumbnail kid-profile-pic" style="width:86px;height:86px;">
											<img src="{{ url_for('static',filename='img/anonymous.png') }}">
										</div>
										{% endif %}
									</a>
										<div class="toolbar-buttons">
										 	{% if kid.status == 1 %}
										 	<a href='#' data-id="{{ kid.id }}" title="Sign out" class="uk-button uk-button-small sign-out-kid">
										 		<i class="uk-icon-sign-out"></i>
										 	</a>
										 	{% else %}
										 	<a href='#' data-id="{{ kid.id }}" title="Sign in" class="uk-button uk-button-small sign-in-kid">
										 		<i class="uk-icon-sign-in"></i>
										 	</a>
										 	{% endif %}
										 	<a href="{{ url_for('back.kids_activities_new',kid_id=kid.id) }}" title="Add activity" class="uk-button uk-button-small">
										 		<i class="uk-icon-rocket"></i>
										 	</a>
										 	<a href="{{ url_for('back.kids_edit',kid_id=kid.id) }}" title="Edit" class="uk-button uk-button-small">
										 		<i class="uk-icon-pencil"></i>
										 	</a>
										 	<a class="uk-button uk-button-small" title="Profile" href="#">
										 		<i class="uk-icon-user"></i>
										 	</a>
										 </div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

{% if unassigned_kids %}
<div class="uk-grid" data-uk-grid-margin="">
	<div id="unassigned-kids" class="uk-width-medium-1-1">
		<h3>The following kids have not been assigned to a group</h3>
		<table class="uk-table">
			{% for kid in unassigned_kids %}
			<tr>
				<td>{{ kid.first_name }} {{ kid.last_name[0] }}.</td>
				<td><a class="uk-button uk-button-small" href="{{url_for('back.kids_edit',kid_id=kid.id)}}?highlight=group">Assign group</a> </td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% raw %}
<script type="text/x-underscore-template" id='group-kid-template'>
	<div class="group-kid">
		<p><%= name %></p>
	</div>
</script>
{% endraw %}
{% endif %}

<div class="uk-grid" data-uk-grid-margin="">
	<div id="hold-kids" class="uk-width-medium-1-1" style="display:none;">
		<h3>Kids on hold</h3><a href="#" id="hide-hold-kids" class="uk-button-small uk-button">Hide</a>
		<table class="uk-table">
			{% for kid in hold_kids %}
			<tr>
				<td><a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.first_name }} {{ kid.last_name[0] }}</a>.</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<!-- <div id="add-activity-side-button" class="uk-hidden-small">
	<a href="#" class="uk-button uk-button-large"><i class="uk-icon-plus"></i></a>
</div>

<div id="add-activity-side-menu" class="uk-hidden-small">
	<div class="uk-panel uk-panel-box">
		<div class="uk-panel-title">Drag to tot</div>
		<ul class="uk-list">
			<li><p href="#" draggable="true" class="uk-button uk-button-mini">Bathrrom</p> </li>
		</ul>
	</div>
</div> -->

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/jquery.crop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/jquery.nested.js') }}"></script>
<script type="text/javascript">
var postURL = '/{{ g.current_school.u_name }}/attendance/';
var parent = {{ current_user.id }};
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/dash.js') }}"></script>

<!-- TEST -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript">
$(function(){
	var getTokenURL = '{{ url_for('back.token_request_view') }}';
	var currentUserToken = '';
	$.getJSON(getTokenURL,function(data){
		if(data.result == 'token'){
			currentUserToken = data.token;
			var socket = io.connect('http://localhost:3000/test');
			
			socket.on('gototgo', function(msg) {
				console.log(msg);
			});
		}
	});
});
</script>
{% endblock %}