{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Groups</h1>
		{% if g.is_admin %}
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#groups-form" ><i class="uk-icon-star"></i> New group</a>
		<form action="/{{g.current_school.u_name}}/groups/" method="POST" name="groups_form" id="groups-form" class="uk-form js-expander-content">
			{{ groups_form.hidden_tag() }}
			<fieldset>
				<div class="uk-form-row">
					{{ render_field_with_errors(groups_form.name,sr='only') }}
					{{ render_field_with_errors(groups_form.kids,sr='only') }}
					{{ render_field_with_errors(groups_form.staff,sr='only') }}
				</div>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% endif %}
		{% if not groups.count() > 0 %}
		<p>You do not have any groups yet.</p>
		{% else %}
		<table class="uk-table uk-table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
				<tr>
					<td>
						<a href="{{ url_for('back.groups_show',group_id=group.id) }}">
							{{ group.name }}
						</a>
					</td>
					<td>
						<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
							<button class="uk-button uk-button-small">Options <i class="uk-icon-caret-down"></i></button>
							<div class="uk-dropdown" style="">
								<ul class="uk-nav uk-nav-dropdown">
									<li><a href="{{ url_for('back.groups_edit',group_id=group.id) }}">Edit</a></li>
									<li><a href="#" class="send-message-group" data-id="{{ group.id }}" data-name="{{ group.name }}">Send message</a></li>
									<li><a href="#" data-id="{{ group.id }}" class="delete-group uk-text-danger">Delete Group</a></li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		<h1>Age Ranges</h1>
		<p>Create age ranges for billing. If potty training is a cost factor then add two age ranges: 1 for potty trained and one for non potty trained.</p>
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#age-range-form" ><i class="uk-icon-star"></i> New age range</a>
		<form action="/{{g.current_school.u_name}}/age_ranges/" method="POST" name="age_range_form" id="age-range-form" class="uk-form js-expander-content">
			{{ age_range_form.hidden_tag() }}
			<fieldset>
				<div class="uk-form-row">
					{{ render_field_with_errors(age_range_form.start_age,sr='only') }}
					{{ render_field_with_errors(age_range_form.end_age,sr='only') }}
					{{ render_field_with_errors(age_range_form.needs_potty_trained,sr='only') }}
				</div>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>

		{% if not age_ranges.all() %}
		<p>You do not have any age ranges created yet.</p>
		{% else %}
		<table class="uk-table">
			<thead>
				<tr>
					<th>Age from</th>
					<th>Age to</th>
					<th>Needs potty training?</th>
				</tr>
			</thead>
			<tbody>
				{% for age_range in age_ranges %}
				<tr>
					<td>{{ age_range.start_age }} months ({{ age_range.start_age/12 }} years)</td>
					<td>{{ age_range.end_age }} months ({{ age_range.end_age/12 }} years)</td>
					<td>{% if age_range.needs_potty_trained %}Yes{% else %}No{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(function(){

	$("a.send-message-group").on('click',function(e){
		e.preventDefault();
		$("#message_group").val($(this).attr('data-id'));
		$("#message-who").empty().append('<option value="group"></option>')
		$("#message-to").text(' all parents of children in ' + $(this).attr('data-name'))
		$("#message-center").trigger('open');
	});

	var deleteGroupURL = '/' + school + '/groups/'; 
	$("a.delete-group").on('click',function(e){
		e.preventDefault();
		if(!confirm('Are you sure you want to remove this group? This may result in a credit to any children who are scheduled for this group if those schedules have been activated.')){
			return false;
		}
		var $this = $(this);
		var groupID = $this.attr('data-id');
		$.ajax({
			url: deleteGroupURL + groupID + '/',
			type: 'DELETE',
			success: function(data){
				if($this.closest('table').find('tr').length == 1){
					location.reload();	
				}
				$this.closest('tr').remove();
			}
		});
	});
});
</script>
{% endblock %}