{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<form action="/{{g.current_school.u_name}}/kids/" method="POST" name="kids_form" id="kid-form" class="uk-form">
	{{ kids_form.hidden_tag() }}
	<fieldset>
			{{ render_field_with_errors(kids_form.first_name,sr='only') }}
			{{ render_field_with_errors(kids_form.middle_name,sr='only') }}
			{{ render_field_with_errors(kids_form.last_name,sr='only') }}
			{{ render_field_with_errors(kids_form.parents,sr='only') }}
			{{ render_field_with_errors(kids_form.groups,sr='only') }}
			{{ render_field_with_errors(kids_form.scholarship,sr='only',pre='$') }}
			{{ render_field_with_errors(kids_form.govt,sr='only',pre='$') }}
			{{ render_field_with_errors(kids_form.extra_credit,sr='only',pre='$') }}
		<div class="uk-form-row">
			<input type="submit" class="uk-button uk-button-primary" value="Save">
		</div>
	</fieldset>
</form>

{% endblock %}