{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<ul class="uk-tab" data-uk-tab="{connect:'#medical-tabs'}">
			<li class="uk-active"><a href="#">Allergens</a></li>
			<li><a href="#">Vaccinations</a></li>
			<li><a href="#">Policy</a></li>
		</ul>
		<ul id="medical-tabs" class="uk-switcher uk-margin">
			<li>
				<h1>Allergen Log</h1>
				{% if not g.current_school.allergens.all() %}
				<p>There are no listed allergens for your school.  Use this screen to add new allergen alerts.</p>
				{% endif %}
				<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#allergen-form">New allergen</a>
				<form action="/{{g.current_school.u_name}}/allergens/" method="POST" name="allergen_form" id="allergen-form" class="uk-form js-expander-content">
					{{ allergen_form.hidden_tag() }}
					<fieldset>
							{{ render_field_with_errors(allergen_form.name,sr='only') }}
						<div class="uk-form-row">
							<input type="submit" class="uk-button uk-button-primary" value="Save">
						</div>
					</fieldset>
				</form>
				<table class="uk-table uk-table-striped uk-margin-top">
					{% for allergen in g.current_school.allergens %}
					<tr>
						<td>{{ allergen.name }}</td>
						<td>
							<table class="uk-table">
								{% for kid in allergen.kids %}
								<tr>
									<td>
									{{ kid.full_name }}
									</td>
								</tr>
								{% endfor %}
							</table>
						</td>
						<td>
							<a href="#" data-id="{{ allergen.id }}" class="delete-allergen uk-button uk-button-small uk-button-danger">X</a>
						</td>
					{% endfor %}
				</table>
			</li>
			<li>
				<h1>Vaccination setup</h1>
				{% if not g.current_school.vaccinations.all() %}
				<p>You do not have any vaccinations setup yet.</p>
				{% endif %}
				<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#vaccination-form">New vaccination</a>
				<form action="/{{g.current_school.u_name}}/vaccinations/" method="POST" name="vaccination_form" id="vaccination-form" class="uk-form js-expander-content">
					{{ vaccination_form.hidden_tag() }}
					<fieldset>
						{{ render_field_with_errors(vaccination_form.vaccine,sr='only') }}
						<ul id="due-dates-list" class="uk-list">
							{% for due_date in vaccination_form.due_dates %}
							<li class="uk-margin-top">{{ render_field_with_errors(due_date,sr='only') }}</li>
							{% endfor %}
						</ul>
						<div class="uk-form-row">
							<a href="#" id="add-due" class="uk-button uk-button-small">Add due</a>
						</div>
						<div class="uk-form-row">
							<input type="submit" class="uk-button uk-button-primary" value="Save">
						</div>
					</fieldset>
				</form>
				<table class="uk-table uk-table-striped">					
					{% for vaccination in g.current_school.vaccinations %}
					<tr>
						<td>{{ vaccination.vaccine }}</td>
						<td>
							<table>
								{% for due_date in vaccination.due_dates %}
								<tr>
									<td>Due at</td>
									<td style="width:50px;"><span data-id="{{ due_date.id }}">{{ due_date.months }}</span>
										<input type="text" class="uk-hidden" style="width:35px;text-align:center;" data-id="{{ due_date.id }}" value="{{ due_date.months }}">
									</td>
									<td>months</td>
									<td style="width:130px;">
										<a href="#" data-id="{{ due_date.id }}" class="edit-due-date uk-button uk-button-small">Edit</a>
										<a href="#" data-id="{{ due_date.id }}" class="cancel-due-date uk-button uk-hidden uk-button-small">Cancel</a>
									</td>
								</tr>
								{% endfor %}
							</table>
						</td>
						<td><a href="#" data-id="{{ vaccination.id }}" class="delete-vaccination uk-button uk-button-danger uk-button-small">X</a> </td>
					</tr>
					{% endfor %}
				</table>
			</li>
			<li>
				<h1>Medical policy</h1>
			</li>
		</ul>
	</div>
</div>
<script type="text/html" id="due-date-tmpl">
<li class="uk-margin-top">
	<div class="uk-form-row sr-only">
	    <label class="uk-form-label" for="due_dates-<%=this.i%>">Age due (in months)</label> 
	    <input class="uk-form-width-medium" id="due_dates-<%=this.i%>" name="due_dates-<%=this.i%>" placeholder="Age due (in months)" type="text" value="">
  </div>
</li>
</script>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/lib/tmpl.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("a.delete-vaccination").on('click',function(e){
		e.preventDefault();
		if(confirm('Are you sure you want to delete this vaccination and all the information associated with it?')){
			$(this).closest('tr').remove();
			$.ajax({
				url:'/' + school + '/vaccinations/' + $(this).attr('data-id') + '/',
				type:'DELETE',
				success: function(data){
					console.log('got it back',data);
				}
			})
		}
	});

	$("a.delete-allergen").on('click',function(e){
		e.preventDefault();
		if(confirm('Are you sure you would like to remove this allergen as well as the link to each kid?')){
			$(this).closest('tr').remove();
			$.ajax({
				url:'/' + school + '/allergens/' + $(this).attr('data-id') + '/',
				type:'DELETE',
				success: function(data){
					console.log('got it back',data);
				}
			});
		}
	});

	$("a.edit-due-date").on('click',function(e){
		e.preventDefault();
		var dataId = $(this).attr('data-id');
		if($(this).text() == 'Edit'){
			$("input[data-id='" + dataId + "']").removeClass('uk-hidden');
			$("a.cancel-due-date[data-id='" + dataId + "']").removeClass('uk-hidden');
			$("span[data-id='" + dataId + "']").addClass('uk-hidden');
			$(this).text('Save');
		}else{
			$("input[data-id='" + dataId + "']").addClass('uk-hidden');
			$("a.cancel-due-date[data-id='" + dataId + "']").addClass('uk-hidden');
			var newVal = $("input[data-id='" + dataId + "']").val();
			var oldVal = $("span[data-id='" + dataId + "']").text();
			$("span[data-id='" + dataId + "']").text(newVal).removeClass('uk-hidden');
			$(this).text('Edit');
			$.post('/' + school + '/due_dates/' + dataId + '/',{'new_val':newVal},function(data){
				if(data.result != 'OK'){
					$("span[data-id='" + dataId + "']").text(oldVal);
					$("input[data-id='" + dataId + "']").val(oldVal);
				}
			});
		}
	});
	
	$("a.cancel-due-date").on('click',function(e){
		e.preventDefault();
		$("a.edit-due-date[data-id='" + $(this).attr('data-id') + "']").text('Edit');
		$(this).addClass('uk-hidden');
		var oldVal = $("span[data-id='" + $(this).attr('data-id') + "']").text();
		$("input[data-id='" + $(this).attr('data-id') + "']").val(oldVal).addClass('uk-hidden');
		$("span[data-id='" + $(this).attr('data-id') + "']").removeClass('uk-hidden');
	});

	$("#add-due").on('click',function(e){
		e.preventDefault();
		for (var i = 0; i < 50000; i++) {
			if(!$("#due_dates-" + i).length){
				$("#due-dates-list").append($("#due-date-tmpl").jqote({ i:i }));
				return;
			}
		};
	})
});
</script>
{% endblock %}