{% for kid in kids %}
<tr class="infinite-item">
	<td>
		{% if kid.profile_pic_small %}
		<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
			<img class="uk-thumbnail" src="{{ kid.profile_pic_small }}" >
		</a>
		{% else %}
		<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">
			<i class="uk-icon-user uk-thumbnail" style="font-size:84px;color:#DDD;"></i>
		</a>
		{% endif %}
	</td>
	<td>
		<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.first_name }} <span class="uk-hidden-small">{{ kid.last_name }}</span> </a></td>
	<td>
		<a href='{{ url_for('back.attendance_log') }}'>
			{% if kid.status == 1 %}In{% else %}Out{% endif %} (<span title="{{ kid.status_time.isoformat() }}" class="timeago">{{ kid.display_time }}</span>)
		</a>
	</td>
	<td class="uk-hidden-small">
		{% for parent in kid.parents %}
		{{ parent.person.first_name }}
		{{ parent.person.last_name }}{% if not loop.last %}, {% endif %}
		{% endfor %}
	</td>
	<td>
		{% if not kid.groups.all() | length %}
		<a href="{{ url_for('back.kids_edit',kid_id=kid.id) }}">Assign group</a>
		{% else %}
		{% for group in kid.groups %}
		{{ group.name }}
		{% endfor %}
		{% endif %}
	</td>
	<td>
		<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
			<button class="uk-button uk-button-small">Actions <i class="uk-icon-caret-down"></i></button>
			<div class="uk-dropdown" style="">
				<ul class="uk-nav uk-nav-dropdown">
					<li><a href="{{ url_for('back.kids_activities_new',kid_id=kid.id) }}">Add activity</a></li>
					<li><a href="{{ url_for('back.kids_edit',kid_id=kid.id) }}">Edit</a></li>
					<li><a href="#">Schedule</a></li>
					<li><a href="#">Send message</a></li>
					<li><a href="#" data-id="{{ kid.id }}" class="delete-kid uk-text-danger">Remove Kid</a></li>
				</ul>
			</div>
		</div>
	</td>
</tr>
{% endfor %}
<a href="/{{ g.current_school.u_name }}/kids/more/{{ more }}/" class="infinite-more-link"></a>