{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit {{ parent.person.first_name }} {{ parent.person.last_name }}</h1>
		{% if g.is_admin %}
		<form action="/{{ g.current_school.u_name }}/parents/edit/{{ parent.id }}/" method="POST" name="parents_form" id="parent-form" class="uk-form uk-form-stacked">
			{{ parents_form.hidden_tag() }}
			<fieldset>
					{{ render_field_with_errors(parents_form.first_name,sr='only') }}
					{{ render_field_with_errors(parents_form.middle_name,sr='only') }}
					{{ render_field_with_errors(parents_form.last_name,sr='only') }}
					{{ render_field_with_errors(parents_form.email,sr='only') }}
					{{ render_field_with_errors(parents_form.cell_phone,sr='only') }}
					{{ render_field_with_errors(parents_form.kids,sr='only') }}
					{{ render_field_with_errors(parents_form.code,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
