{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Parents</h1>
		<a href="#" class="uk-button uk-button-small js-expander {% if errors %}js-expanded{% endif %}" data-connect="#parents-form" >New Parent</a>
		<form action="/{{g.current_school.u_name}}/parents/" method="POST" name="parent_form" id="parents-form" class="uk-form js-expander-content">
			{{ parent_form.hidden_tag() }}
			<fieldset>
					{{ render_field_with_errors(parent_form.first_name,sr='only') }}
					{{ render_field_with_errors(parent_form.middle_name,sr='only') }}
					{{ render_field_with_errors(parent_form.last_name,sr='only') }}
					{{ render_field_with_errors(parent_form.email,sr='only') }}
					{{ render_field_with_errors(parent_form.kids,sr='only') }}
					{{ render_field_with_errors(parent_form.code,sr='only') }}
					<p>We will send this email a temporary password as well as all the information they need.</p>
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% if not parents %}
		<p>You don't have any parents here yet. </p>
		{% else %}
		<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th class="uk-hidden-small uk-hidden-medium">Email</th>
					<th>Code</th>
					<th class="uk-hidden-small uk-hidden-medium">Kids</th>
					<th>Pending</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for parent in parents %}
				<tr style="background:#FFFFFF;">
					<td>{{ parent.person.first_name }} <span class="uk-hidden-small">{{ parent.person.last_name }}</span> </td>
					<td class="uk-hidden-small uk-hidden-medium"{% if 'unknown_user' in parent.email %} style="background:rgba(216,80,48,.3);color:#d85030;" data-text="unknown-user"{% endif %}>{{ parent.email | truncate(30,True) }}</td>
					<td>{{ parent.code }}</td>
					<td class="uk-hidden-small uk-hidden-medium">
						{% for kid in parent.kids %}
						{% if kid.hold %}
						<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}" class="uk-text-muted">{{ kid.first_name }} {{ kid.last_name }}<em>(on hold)</em></a>
						{% else %}
						<a href="{{ url_for('back.kids_show',kid_id=kid.id) }}">{{ kid.first_name }} {{ kid.last_name }}</a>
						{% endif %}
						{% endfor %}
					</td>
					<td class="pending">{% if not parent.pending %}No{% else %}
						<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
							<button class="uk-button uk-button-small">Pending <i class="uk-icon-caret-down"></i></button>
							<div class="uk-dropdown" style="">
								<ul class="uk-nav uk-nav-dropdown">
									<li><a href="#" data-id="{{ parent.id }}" class="accept-parent">Accept</a></li>
									<li><a href="#" data-id="{{ parent.id }}" class="reject-parent">Reject</a></li>
								</ul>
							</div>
						</div>
						{% endif %}
					</td>
					<td>
						<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
							<button class="uk-button uk-button-small">Actions <i class="uk-icon-caret-down"></i></button>
							<div class="uk-dropdown" style="">
								<ul class="uk-nav uk-nav-dropdown">
									<li><a href="{{ url_for('back.parents_edit',parent_id=parent.id) }}">Edit {{ parent.person.first_name }}</a></li>
									<li><a href="#" class="send-message-parent" data-id="{{ parent.id }}" data-name="{{ parent.person.first_name }}">Send message</a></li>
									<li><a href="{{ url_for('back.parents') }}" data-id="{{ parent.id }}" class="delete-parent uk-text-danger">Delete Parent</a></li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
<div id="rejection-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1>Reason for rejection?</h1>
        <p>Please provide the user with a reason for the rejection.</p>
        <form id="rejection-form"  action="{{ url_for('back.rejection') }}" method="POST" name="rejection_form" class="uk-form">
        	{{ render_field_with_errors(rejection_form.reason,sr='only') }}
        	<div class="uk-form-row">
				<input type="submit" class="uk-button uk-button-primary" value="Send">
			</div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
var school = '{{ g.current_school.u_name }}';
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/rejection.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/acceptance.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/parents.js') }}"></script>
{% endblock %}