{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "back/_admin_macros.html" import hour_picker %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit days for the {{ schedule.name }} Schedule</h1>
		{{ hour_picker(url_for('back.schedules_edit_days',schedule_type=schedule_type,schedule_id=schedule.id),schedule_days_form,'schedule-days-form') }}
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/schedules.js') }}"></script>
{% endblock %}