{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "back/_admin_macros.html" import hour_picker %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Setup school hours</h1>
		{{ hour_picker(url_for('back.schedules_school_hours'),school_hours_form ,'school-hours-form',name_field=False,closed_fields=True) }}
	</div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/schedules.js') }}"></script>
{% endblock %}