{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Kids with the {{ schedule.name }} Schedule</h1>
		<form action="/{{ g.current_school.u_name }}/schedules/{{ schedule_type }}/{{ schedule.id }}/kids/" method="POST" name="schedule_kids_form" id="schedule-kids-form" class="uk-form">
			{{ schedule_kids_form.hidden_tag() }}
			<fieldset>
				<p class="uk-text-warning">To add a tot to a schedule they must first in a group. Tots without groups are not available.</p>
				{{ render_field_with_errors(schedule_kids_form.kids,sr='only') }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}