{% extends "back/dash_layout.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/plainjane.css') }}">
{% endblock %}
{% block dash_content %}
<div class="uk-markdownarea-preview uk-text-left">
	<pre>{{ sign_form.title }}</pre>
	<form id="user-defined-form" class="uk-form">
	<div class="uk-panel uk-panel-box">
		{{ sign_form.content | safe }}
	</div>
	</form>
</div>
{% if sign_form.requires_signature %}
	{% if signature.signed %}
	<i class="uk-icon-check" id="already-submitted" style="font-size:100px;color:green;" ></i>
	{% else %}
	<div class="uk-margin-top" id="check-box-area">
		<label for="acceptance" class="uk-text-danger">
			<input id="acceptance" type="checkbox" name="acceptance" {% if signature.signed %}CHECKED{% endif %} />
			Checking this box constitutes a written signature and locks your answers.
		</label>
	</div>
	{% endif %}
{% endif %}
<p>
	<i id="spinny-thingy" class="uk-hidden uk-icon-refresh uk-icon-spin"></i>
	<button id="save" class="uk-button uk-button-small uk-button-primary">Save form</button>
</p>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static',filename='js/helpers.js') }}"></script>
<script type="text/javascript">
$(function(){
	{% if signature.extra_data %}
	var savedExtraData = {{ signature.extra_data | safe }};
	{% else %}
	var savedExtraData = {};
	{% endif %}
	if(!$.isEmptyObject(savedExtraData)){
		$("#user-defined-form input, #user-defined-form select").prop('disabled',true);
		var s = '';
		for(s in savedExtraData){
			$("input[name='" + s + "'],select[name='" + s + "']").val(savedExtraData[s]);
		}
	}

	if(!$("#user-defined-form input, #user-defined-form select").length){
		$("#save").hide();
	}

	$("#save").on('click',function(e){
		e.preventDefault();
		$(this).prop('disabled',true);
		$("#user-defined-form").serializeObject();
		$("#spinny-thingy").removeClass('uk-hidden');
		var extraData = {};
		if(!$("#user-defined-form input, #user-defined-form select").first().is(':disabled')){
			var extraData = {data:JSON.stringify($("#user-defined-form").serializeObject())};
		}
		
		$("#user-defined-form input, #user-defined-form select").prop('disabled',true);
		$.post('/' + school + '/forms/{{ signature.sign_form.id }}/edit/{{ signature.kid.id }}/0/',
			extraData,
			function(data){
				$("#spinny-thingy").addClass('uk-hidden');
		});
	})

	$("#acceptance").on('change',function(e){
		e.preventDefault();
		var accept = $(this).is(':checked') ? 1 : 0;
		$("#spinny-thingy").removeClass('uk-hidden');
		var extraData = {};
		if(!$("#user-defined-form input, #user-defined-form select").first().is(':disabled')){
			var extraData = {data:JSON.stringify($("#user-defined-form").serializeObject())};
		}
		$("#save").prop('disabled',true);
		$("#user-defined-form input, #user-defined-form select").prop('disabled',true);
		$.post('/' + school + '/forms/{{ signature.sign_form.id }}/edit/{{ signature.kid.id }}/' + accept + '/',
			extraData,
			function(data){
				$("#spinny-thingy").addClass('uk-hidden');
				$("#check-box-area").empty()
				$("#check-box-area").append('<i class="uk-icon-check" style="font-size:100px;color:green;" ></i>');
		});
	});
	if($("#already-submitted").length){
		$("#user-defined-form input, #user-defined-form select").prop('disabled',true);
	}
});
</script>
{% endblock %}