{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div>
	<form class="uk-form" id="goto-month-form">
		<fieldset>
			<input type="text" id="goto-month" placeholder="MM" style="width:40px;">
			<input type="text" id="goto-year" placeholder="YYYY" style="width:70px;">
			<input type="submit" class="uk-button uk-button-small" value="Go">
		</fieldset>
	</form>
</div>
<h2 class="uk-margin-top">Bill for {{ current_month }}</h2>
<table class="uk-table billing-table">
{% for bill in current_invoice.bills %}
	<tr>
		<td><span class="uk-badge"><i class="uk-icon-plus"></i></span> {{ format_price(bill.amount) }}</td>
		<td>{{ bill.description | truncate(50) }}</td>
		<td>{{ bill.time.strftime('%m/%d/%y') }}</td>
	</tr>
{% if bill.credits %}
	{% for credit in bill.credits %}
	<tr class="credit-row">
		<td>
			<img width="16" src="{{ url_for('static',filename='img/reply.png') }}">
			<span class="uk-badge uk-badge-success"><i class="uk-icon-minus"></i></span> 
			{{ format_price(credit.amount) }}
		</td>
		<td><span class="uk-badge">{{ credit.credit_type.name.title() }}</span> {{ credit.description | truncate(500) }}</td>
		<td>{{ credit.time.strftime('%m/%d/%y') }}</td>
	</tr>		
	{% endfor %}
{% endif %}
{% if current_invoice.charge %}
<tr class="credit-row">
	<td>
		<img width="16" src="{{ url_for('static',filename='img/reply.png') }}">
		<span class="uk-badge uk-badge-success"><i class="uk-icon-minus"></i></span> 
		{{ format_price(current_invoice.charge.amount) }}
	</td>
	<td><span class="uk-badge">Payment</span> Payment of {{ format_price(current_invoice.charge.amount) }} applied.</td>
	<td>{{ current_invoice.charge.time.strftime('%m/%d/%y') }}</td>
</tr>		
{% endif %}
{% endfor %}
</table>
<div class="uk-margin-top"><h2>Total: {{ format_price(current_invoice.remaining) }}</h2></div>
{% if g.is_parent %}
{% if current_invoice.remaining > 0 %}
<a href="#" class="uk-button uk-button-primary uk-button-large js-expander" data-connect="#upgrade-panel">PAY NOW</a>

<div id="upgrade-panel" class="uk-panel uk-panel-box uk-margin-top js-expander-content">
	<form action="{{ url_for('back.bills_charge',kid_id=kid.id) }}" method="POST" class="uk-form uk-form-stacked" id="new-parent-card">
		{{ customer_new_parent_form.hidden_tag() }}
		<p class="uk-badge uk-badge-success"><i class="uk-icon-lock"></i> Secure</p>
		<span class="payment-errors"></span>
		{{ render_field_with_errors(customer_new_parent_form.amount,pre='$') }}
		<p>(Total: {{ format_price(current_invoice.remaining) }})</p>
		<p>Charges will be applied to oldest invoices first.</p>
		<div class="uk-form-row sr-only">
			<label class="uk-form-label" for="card-number">Card number</label>
			<input type="text" id="card-number" data-stripe="number">
		</div>
		<div class="uk-form-row sr-only">
			<label class="uk-form-label" for="cvc">CVC</label>
			<input type="text" id="cvc" id="cvc" data-stripe="cvc">
		</div>
		<div class="uk-form-row sr-only">
			<label class="uk-form-label" for="month">Expiration (MM/YYYY)</label>
			<input type="text" size="2" id="month" data-stripe="exp-month">
			<span> / </span>
			<input type="text" size="4" data-stripe="exp-year">
		</div>
		<div class="uk-form-row sr-only">
			<button type="submit" class="uk-button uk-button-success">Complete payment</button>
			<p>Clicking this button will attempt to charge your credit card</p>
		</div>
	</form>
</div>
{% endif %}
{% endif %}
{% if current_invoice.remaining == 0 %}
<h2 class="uk-text-success" ><i class="uk-icon-check"></i> PAID!</h2>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
Stripe.setPublishableKey('{{ g.current_school.stripe_publishable_key }}');
</script>
<script type="text/javascript">
$(function(){
	$('#new-parent-card').submit(function(event) {
		var $form = $(this);

		// Disable the submit button to prevent repeated clicks
		$form.find('button').prop('disabled', true);

		Stripe.card.createToken($form, stripeResponseHandler);

		// Prevent the form from submitting with the default action
		return false;
	});

	$("#goto-month-form").submit(function(e){
		e.preventDefault()
		var gotoMonth = parseInt($("#goto-month").val());
		var gotoYear = parseInt($("#goto-year").val());
		gotoMonth = isNaN(gotoMonth) ? 1 : gotoMonth;
		gotoYear = isNaN(gotoYear) ? 1 : gotoYear;
		location.href = '/' + school + '/bills/to/{{ kid.id }}/from/' + gotoMonth + '/' + gotoYear +'/'
		return false;
	})

	var stripeResponseHandler = function(status, response) {
		var $form = $('#new-parent-card');

		if (response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// token contains id, last4, and card type
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$form.append($('<input type="hidden" name="stripeToken" />').val(token));
			// and submit
			$form.get(0).submit();
			modal.hide();
		}
	};
})
</script>
{% endblock %}