{% from "security/_macros.html" import render_field_with_errors, render_field %}
<form class="uk-form uk-form-stacked" action="/{{g.current_school.u_name}}/prices/edit/{{ price.id }}/" method="POST" name="schedule-price-form" id="schedule-price-form">
	{{ schedule_price_form.hidden_tag() }}
	{{ render_field_with_errors(schedule_price_form.price,sr='only',pre='$') }}
	{% if not g.current_school.bill_equal %}
	{{ render_field_with_errors(schedule_price_form.billing_duration,) }}
	{{ render_field_with_errors(schedule_price_form.billing_unit,) }}
	{% else %}
	<div class="uk-form-row">
		<p>Per Month</p>
		<p>(Will be divided by 4.33 to determine weekly price)</p>
	</div>
	{% endif %}
	{{ render_field_with_errors(schedule_price_form.late_price,pre='$') }}
	<p>(Leave as 0 to opt-out)</p>
	<div class="uk-form-row uk-margin-top">
		<input type="submit" class="uk-button uk-button-primary" value="Save price">
	</div>
</form>
<script type="text/javascript">
$(function(){
	$("#billing_duration").parent().find('label').text('Billing cycle (in ' + $(this).find('option:selected').text() + ')');
	$("#billing_unit").on("change",function(e){
		$("#billing_duration").parent().find('label').text('Billing cycle (in ' + $(this).find('option:selected').text() + ')');
	});
})
</script>