{% extends "back/dash_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block dash_content %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		<h1>Edit {{ staff.name }}</h1>
		{% if g.is_admin or g.is_director %}
		<form action="/{{g.current_school.u_name}}/staff/edit/{{ staff.id }}/" method="POST" name="staff_form" id="staff-form" class="uk-form">
			{{ staff_form.hidden_tag() }}
			<fieldset>
					{{ render_field_with_errors(staff_form.first_name,sr='only') }}
					{{ render_field_with_errors(staff_form.middle_name,sr='only') }}
					{{ render_field_with_errors(staff_form.last_name,sr='only') }}
					{{ render_field_with_errors(staff_form.groups,sr='only') }}
					{{ render_field_with_errors(staff_form.cell_phone,sr='only') }}
					{{ render_field_with_errors(staff_form.code,sr='only') }}
					{{ render_field_with_errors(staff_form.pending) }}
				<div class="uk-form-row">
					<input type="submit" class="uk-button uk-button-primary" value="Save">
				</div>
			</fieldset>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}
