<p>Hi there!</p>
<p>Here is the daily report for today {{ date }}</p>
<br>
{% if attendance.count() %}
<table>
	<caption>Attendance</caption>
	{% for attend in attendance %}
	<tr>
		<td valign='middle'>Signed {% if attend.status == 1 %}IN{% else %}OUT{% endif %}</td>
		<td valign='middle'>{{ attend.time.strftime('%D at %I:%M:%S %p') }}</td>
		<td valign='middle'>by {{ attend.user.person.first_name }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No attendance for today.</p>
{% endif %}
<br>
{% if activities.count() %}
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
	<caption>Activities</caption>
	{% for activity in activities %}
	<tr>
		<td valign='middle'>{{ activity.activity_type.name }}</td>
		<td><span>{{ activity.time.strftime('%I:%M%:%S%p') }}</span></td>
		<td>
			<p>{{ activity.description }}</p>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No activities for today.</p>
{% endif %}
<br>
<p>Please log in to <a href="https://gototgo.com/login">GoTotGo</a> for more details</p>
<p>Thanks!</p>
<p>Sincerely,</p>
<p>GoTotGo</p>
