<p>Hi there,</p>
<p>A new bill is available for {{ kid_name }} from {{ g.current_school.name }}.</p>
<p><a href="https://gototgo.com">Login to view and pay your bill.</a></p>
<p>All the best,</p>
<p>Go Tot Go</p>