<p>Oh No!</p>
    <p>Looks like {{ school_name }} did not accept your request to be accepted into their school. {{ school_name }} has been removed from your list of school.  Here is the reason that they gave:</p>
    <p>{{ reason }}</p>
    <p>If you think this was a mistake. Please email us directly at {{ rejection_email }}.</p>
    <p>Hey, no hard feelings. You can party with us anytime.</p>
    <p>All the best, </p>
    <p>GoTotGo!</p>
