<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		GoTotGo
		{% endblock %}
	</title>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-50075621-1', 'gototgo.com');
ga('send', 'pageview');
</script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% assets "css_front" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

</head>
<body>
{% block nav %}
<nav class="p-navbar uk-navbar uk-navbar-attached">
	<div class="uk-container uk-container-center">
		<a class="uk-navbar-brand uk-hidden-small" href="/">
			<img class="uk-margin uk-margin-remove" src="{{ url_for('static',filename='img/logo.png') }}" width="90" height="30" title="GoTotGo" alt="GoTotGo"><sup>tm</sup>
		</a>

		<ul class="uk-navbar-nav uk-hidden-small">
			<li><a href="/#about-us">About</a></li>
			<li><a href="/#pricing">Pricing</a></li>

		</ul>

		<div class="uk-navbar-flip uk-hidden-small">
			<ul class="uk-navbar-nav">

				{% if current_user.is_anonymous() %}
				<li><a href="/login/">Login</a></li>
				{% else %}
				<li><a href="/account/" class="uk-hidden-medium">{{ current_user.email }}</a></li>
				<li><a href="/logout/">Logout</a></li>
				{% endif %}
				<li><a href="/register/">Sign up</a></li>
			</ul>
		</div>


		<a href="#p-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

		<div class="uk-navbar-brand uk-navbar-center uk-visible-small">
			<img src="{{ url_for('static',filename='img/logo.png') }}" width="90" height="30" title="GoTotGo" alt="GoTotGo">
			<sup>tm</sup>
		</div>

	</div>
</nav>
{% endblock %}
<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-medium-1-1">
		{# flash message #}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="uk-width-1-3 uk-container-center uk-text-center">
			<div class="uk-alert" data-uk-alert>
				<a href="" class="uk-alert-close uk-close"></a>
				<ul class="uk-list">
					{% for message in messages %}
					<li>{{ message |safe }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% endwith %}
		{% block dash_content %}
		{% endblock %}
	</div>
</div>
<noscript><p>GototGo needs JavaScript to function, but you have it disabled. Check your browser settings.</p></noscript>
{% block content %}
<p>well hello there. </p>
{% endblock %}
{% block off_canvas %}
<div id="p-offcanvas" class="uk-offcanvas">

    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-parent"><a href="#">About</a></li>
         	<li class="uk-parent"><a href="#">Get started</a></li>
         	<li class="uk-parent"><a href="#">Pricing</a></li>
         	<li class="uk-parent"><a href="#">Mission</a></li>
         	<li class="uk-parent"><a href="#">Get involved</a></li>
         	<li class="uk-parent"><a href="/login/">Sign in</a></li>
        </ul>

    </div>

</div>
{% endblock %}
{% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% block extra_js %}
{% endblock %}
<script>
UserVoice=window.UserVoice||[];(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//widget.uservoice.com/0P7V2w8tT5JfriyAcasE5Q.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();UserVoice.push(["set",{accent_color:"#448dd6",trigger_color:"white",trigger_background_color:"rgba(46, 49, 51, 0.6)"}]);UserVoice.push(["identify",{}]);UserVoice.push(["addTrigger",{mode:"contact",trigger_position:"bottom-right"}]);
UserVoice.push(["autoprompt",{}]);
</script>
</body>
</html>