{% extends "front/front_layout.html" %}

{% block content %}
<div id="first" class="p-section p-section-color-1 p-section-colored">
	<div class="brand-container uk-container uk-container-center uk-text-center">
		<img class="p-logo" src="{{ url_for('static',filename='img/logo-b.png') }}" width="281" height="217" title="UIkit" alt="UIkit"><sup>tm</sup>

		<p id="tag-line" class="uk-text-large uk-hidden-small">{{ tagline | safe }}</p>

		<p><a href="/register/" class="uk-button uk-button-primary uk-button-large">Get started</a></p>
		<p><a href="/tour/"  class="uk-button uk-button-small">Tour</a></p>
	</div>
</div>

<div id="about-us" class="p-section p-section-color-2 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<h2>About us</h2>
		<i class="uk-icon-large uk-icon-home" style="color:#FFF"></i>
		<p class="uk-text-large">GoTotGo is developed and optimized by a family of childcare experts with decades of experience.</p>
		<div class="uk-grid" data-uk-grid-margin=""  data-uk-grid-match="{target:'.uk-panel'}">
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box">
					<h3>Who?</h3>
					Technology and childcare experts dedicated to taking your childcare business to the next level.
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box">
					<h3>What?</h3>
					A secure cloud-based childcare management system that's made with your center in mind.</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box">
					<h3>When?</h3>
					Available now and only a few clicks away. Registration is fast and easy.
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box">
					<h3>Why?</h3>
					No maintenance, no paperwork, no problem. We take the hassle out of managing your childcare.
				</div>
			</div>
		</div>
	</div>
</div>

<div id="pricing" class="p-section p-section-color-3 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<h2>Pricing</h2>
		<i class="uk-icon-large uk-icon-home" style="color:#000;"></i>
		<p class="uk-text-large">We simplified the process of childcare management, which lowered our prices. A win for all.</p>
		<div class="uk-grid" data-uk-grid-margin="">
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box pricing-box">
					<h3 class="uk-panel-title">Small</h3>
					<div class="price-description">$100/month. Up to 40 tots.<br /> Every tot over 40 is $2/month.</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box pricing-box">
					<h3 class="uk-panel-title">Medium</h3>
					<div class="price-description">$150/month. Up to 70 tots.<br /> Every tot over 70 is $1.50/month.</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box pricing-box">
					<h3 class="uk-panel-title">Large</h3>
					<div class="price-description">$188/month. Up to 100 tots.<br /> Every tot over 100 is $1/month</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="uk-panel uk-panel-box pricing-box">
					<h3 class="uk-panel-title">Unlimited</h3>
					<div class="price-description">$480/month. Up to 400 tots.<br /> Every tot over 100 is $0.90/month</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-1">
				<div class="uk-panel uk-panel-box pricing-box pricing-free">
					<h3 class="uk-panel-title">Free <span class="uk-text-bold uk-text-success">$0/month</span></h3>
					<div class="price-description">Every childcare starts with a free account. You can play around and see how you like it. Limited to 1 tot.</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>

			<div class="uk-width-medium-1-1">
				<div class="uk-panel uk-panel-box pricing-box pricing-free">
					<h3 class="uk-panel-title">Credit card processing <span class="uk-text-bold uk-text-success">Free</span></h3>
					<div class="price-description">Now you can charge</div>
					<div class="price-sign-up uk-vertical-align">
						<div class="uk-vertical-align-bottom">
							<a href="#" class="uk-button uk-button-success">Sign up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


        <div id="p-offcanvas" class="uk-offcanvas">

            <div class="uk-offcanvas-bar">

                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-parent"><a href="#">About</a></li>
                 	<li class="uk-parent"><a href="#">Get started</a></li>
                 	<li class="uk-parent"><a href="#">Pricing</a></li>
                 	<li class="uk-parent"><a href="#">Mission</a></li>
                 	<li class="uk-parent"><a href="#">Get involved</a></li>
                 	<li class="uk-parent"><a href="/login/">Sign in</a></li>
                </ul>

            </div>

        </div>
{% endblock %}