{% extends "front/front_layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="p-section p-section-color-1 p-section-colored">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-panel uk-panel-box uk-width-1-3 uk-container-center uk-text-center">
			<div class="uk-progress">
				<div class="uk-progress-bar" style="width: 33%;">Step 1 of 3</div>
			</div>
			<form action="/setup/" method="POST" name="setup_user_form" class="uk-form">
				{{ setup_user_form.hidden_tag() }}
				<fieldset>
					<legend>I am</legend>
					{{ render_field_with_errors(setup_user_form.roles,sr='only') }}
					{{ render_field_with_errors(setup_user_form.timezone,sr='only') }}

					<div class="uk-form-row">
						<input type="submit" class="uk-button uk-button-primary" value="Next">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jstz.min.js') }}"></script>
<script type="text/javascript">
$(function(){
	$("#roles-0").focus()
	var tz = jstz.determine();
	$("#timezone").val(tz.name());
});
</script>
{% endblock %}