{% extends "front/front_layout.html" %}

{% block content %}
<div class="tour-section uk-container uk-container-center">
	<div class="uk-grid" data-uk-grid-margin="">
		<div class="uk-width-medium-1-2">
			<div class="uk-vertical-align" style="height: 350px;">
	            <div class="uk-vertical-align-middle uk-width-medium-1-1">
					<h2>Take attendance.</h2>
					<p>Parents and staff sign children in and out with our simple apps.  
					Go paperless in no time.</p>
					<h2>Make perfect forms in minutes.</h2>
					<p>Our Forms Creator makes it easier than ever to create and 
						distribute forms to parents.</p>
					<h2>Better communication.</h2>
					<p>Send emails and texts to parents, giving them the 
						information they need.</p>
				</div>
			</div>
		</div>
		<div class="uk-width-medium-1-2">
			<img height="350" style="height:350px;" src="{{ url_for('static',filename='img/iphone_android_ss.png') }}">
		</div>
	</div>

	<div class="uk-grid" data-uk-grid-margin="">
		<div class="uk-width-medium-1-2">
			<img src="{{ url_for('static',filename='img/mac_ss.png') }}">
		</div>
		<div class="uk-width-medium-1-2">
			<div class="uk-vertical-align" style="height: 350px;">
	            <div class="uk-vertical-align-middle uk-width-medium-1-1">
					<h2>Log activites.</h2>
					<p>GototGo will give your staff the power to track your 
						childcare minute-to-minute.</p>
					<h2>Bill the easy way.</h2>
					<p>Families can pay online through our safe automatic billing system. We never see or keep credit card numbers or billing information.</p>
					<h2>Generate statistics and reports.</h2>
					<p>Get up-to-date and accurate data on your 
						center when you need it. Export to Excel.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="uk-grid" data-uk-grid-margin="">
		<div class="uk-width-medium-1-2">
			<div class="uk-vertical-align" style="height: 350px;">
	            <div class="uk-vertical-align-middle uk-width-medium-1-1">
					<h2>Security comes first.</h2>
					<p>Security is our highest priority in everything we do. We use secure servers to keep your information safe.</p>
					<h2>Our promise to you.</h2>
					<p>We will work one-on-one with you and your childcare to ensure you are 100% satified.  We continue to improve GoTotGo daily to make sure that we are always on top of our game.</p>
				</div>
			</div>
		</div>
		<div class="uk-width-medium-1-2">
			<img src="{{ url_for('static',filename='img/ipad_ss.png') }}">
		</div>
	</div>
</div>
{% endblock %}