div.uk-markdownarea-preview,div.uk-markdownarea-preview h1, div.uk-markdownarea-preview h2, div.uk-markdownarea-preview h3, div.uk-markdownarea-preview h4{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}div.uk-markdownarea-preview{margin:0}div.uk-markdownarea-preview article,div.uk-markdownarea-preview aside,div.uk-markdownarea-preview details,div.uk-markdownarea-preview figcaption,div.uk-markdownarea-preview figure,div.uk-markdownarea-preview footer,div.uk-markdownarea-preview header,div.uk-markdownarea-preview hgroup,div.uk-markdownarea-preview main,div.uk-markdownarea-preview nav,div.uk-markdownarea-preview section,div.uk-markdownarea-preview summary{display:block}div.uk-markdownarea-preview audio,div.uk-markdownarea-preview canvas,div.uk-markdownarea-preview progress,div.uk-markdownarea-preview video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],div.uk-markdownarea-preview template{display:none}a{background:0 0}div.uk-markdownarea-preview em{color:#000000;}div.uk-markdownarea-preview a:active,div.uk-markdownarea-preview a:hover{outline:0}div.uk-markdownarea-preview abbr[title]{border-bottom:1px dotted}div.uk-markdownarea-preview b,div.uk-markdownarea-preview strong{font-family: sans-serif;font-weight:700}dfn{font-style:italic}div.uk-markdownarea-preview h1{font-family:sans-serif;font-size:2em;margin:.67em 0}div.uk-markdownarea-preview mark{background:#ff0;color:#000}div.uk-markdownarea-preview small{font-size:80%}div.uk-markdownarea-preview sub,div.uk-markdownarea-preview sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}div.uk-markdownarea-preview sup{top:-.5em}div.uk-markdownarea-preview sub{bottom:-.25em}div.uk-markdownarea-preview img{border:0}div.uk-markdownarea-preview svg:not(:root){overflow:hidden}div.uk-markdownarea-preview figure{margin:1em 40px}div.uk-markdownarea-preview hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}div.uk-markdownarea-preview pre{overflow:auto}div.uk-markdownarea-preview code,div.uk-markdownarea-preview kbd,div.uk-markdownarea-preview pre,div.uk-markdownarea-preview samp{font-family:monospace,monospace;font-size:1em}div.uk-markdownarea-preview button,div.uk-markdownarea-preview input,div.uk-markdownarea-preview optgroup,div.uk-markdownarea-preview select,div.uk-markdownarea-preview textarea{color:inherit;font:inherit;margin:0}div.uk-markdownarea-preview button{overflow:visible}div.uk-markdownarea-preview button,div.uk-markdownarea-preview select{text-transform:none}button,div.uk-markdownarea-preview input[type=button],div.uk-markdownarea-preview input[type=reset],div.uk-markdownarea-preview input[type=submit]{-webkit-appearance:button;cursor:pointer}div.uk-markdownarea-preview button[disabled],div.uk-markdownarea-preview input[disabled]{cursor:default}div.uk-markdownarea-preview button::-moz-focus-inner,div.uk-markdownarea-preview input::-moz-focus-inner{border:0;padding:0}div.uk-markdownarea-preview input{line-height:normal}div.uk-markdownarea-preview input[type=checkbox],div.uk-markdownarea-preview input[type=radio]{box-sizing:border-box;padding:0}div.uk-markdownarea-preview input[type=number]::-webkit-inner-spin-button,div.uk-markdownarea-preview input[type=number]::-webkit-outer-spin-button{height:auto}div.uk-markdownarea-preview input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}div.uk-markdownarea-preview input[type=search]::-webkit-search-cancel-button,div.uk-markdownarea-preview input[type=search]::-webkit-search-decoration{-webkit-appearance:none}div.uk-markdownarea-preview fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}div.uk-markdownarea-preview legend{border:0;padding:0}div.uk-markdownarea-preview textarea{overflow:auto}div.uk-markdownarea-preview optgroup{font-weight:700}div.uk-markdownarea-preview table{border-collapse:collapse;border-spacing:0}div.uk-markdownarea-preview td,div.uk-markdownarea-preview th{padding:0}div.uk-markdownarea-preview pre{background-color: #ebf7fd;color: #2d7091;border-color: rgba(45,112,145,.3);}
div.uk-markdownarea-preview form {
    width: 80%;
    margin: 0 auto;
}

div.uk-markdownarea-preview label, div.uk-markdownarea-preview input,div.uk-markdownarea-preview select {
    /* in order to define widths */
    display: inline-block;
}

div.uk-markdownarea-preview label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
    margin-top: 5px;
}

div.uk-markdownarea-preview label + input,div.uk-markdownarea-preview label + select {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
div.uk-markdownarea-preview input + input,div.uk-markdownarea-preview input + select {
    float: right;
}