@font-face {
	font-family: 'ProximaNovaLight';
	src: url('/static/front/fonts/p.eot');
	src: url('/static/fonts/p.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/p.woff') format('woff'),
		url('/static/fonts/p.ttf') format('truetype'),
		url('/static/fonts/p.svg#ProximaNovaLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

html#invite-only{
	background: url('/static/img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body, h1, h2, h3, h4{
	font-family: 'ProximaNovaLight',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body#invite-only-body{
	background: none;
}

div.tour-section{
	margin-top: 100px;
}

div.tour-section li:before{
	font-family: 'FontAwesome';
	content: '\f067';
	margin:0 5px 0 -15px;
	color: #f00;
	font-size: 50px;
}

div.brand-container sup{
	color: black;
	font-size: 9px;
	vertical-align: top;
	position: relative;
	top: 22px;
}

a.uk-navbar-brand sup, div.uk-navbar-brand sup{
	color: white;
	font-size: 9px;
	vertical-align: top;
	position: relative;
	top: 8px;
}

nav.p-navbar{
	padding: 15px 0;
	border: none;
	background: #000;
}

@media (min-width: 1220px){

	.p-section, .p-footer {
		padding: 120px 0;
	}

	div.p-section-color-1{
		padding: 220px 0;
	}
}

.p-section{
	padding: 90px 0;
}
div.p-section-color-1{
	padding: 220px 0;
}
/*phones only*/
@media (max-width: 767px) {
	#first{
		background: url('/static/img/bg.jpg');
		background-position: 26% 20%;
	}
	
	.pricing-box{
		height: 110px;
	}

	.pricing-box.pricing-free{
		height: 120px;
	}
	div.price-description{
		height: 40px;
	}

	div.p-section-color-1{
		padding: 90px 0;
	}
	
}

/*everything else*/
@media (min-width: 768px) {
	#first{
		background: url('/static/img/bg.jpg');
		background-size: cover;
		background-position: 5% 28%;
	}

	.pricing-box{
		height: 200px;
	}

	.pricing-box.pricing-free{
		height: 120px;
	}

	div.price-description{
		height: 130px;
	}
	.p-section{
		padding: 90px 0;
	}
}

#tag-line{
	color: white;
}

.p-section-color-2{
	background-color: #000;
	background: url('/static/img/blackboard.jpg');
	background-size: cover;
	color: #FFF;
}
.p-section-color-2 h2{
	color: #FFF;
}
#pricing{
	background-color: #FFF;
	background: url('/static/img/graph.jpg');
	color: #FFF;
}

.p-section-color-3 .uk-text-large{
	color: #000;
}

.p-section .uk-panel h3{
	color: #000
}

div.price-sign-up{
	height: 35px;
}

div.pricing-box.pricing-free div.price-description{
	height: 50px;
}


.uk-navbar-nav>li>a {
	display: block;
	color: #666;
	font-size: 14px;
	font-family: 'ProximaNovaLight',"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: none;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus, .uk-navbar-nav>li.uk-open>a {
	background-color: transparent;
	color: #FFF;
}

#step-2-form .uk-nav-side>li>a{
	color: #00a8e6;
}

div.sr-only label{
	display: none;
}

.uk-navbar-toggle{
	color: #FFF;
}

html#invite-only ul.uk-list{
	margin-top: 0px;
}

html#invite-only input[type='submit']{
	margin-top: 5px;
}

html#invite-only li.uk-text-danger{
	background-color: #d85030;
	color: #FFF;
	display: inline;
	padding: 5px;
	padding-top: 3px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

noscript p{
	padding: 20px;
	margin-top: -1px;
	font-size: 15px;
	background: #ff6c4f;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}