<p>Hi from GoTotGo!</p>
<p>Because we take your security very seriously, we are sending you this email.</p>
<p>This message is to inform you that your password was reset. If you did not reset your password you can contact us by replying to this email.</p>
<p>All the best,</p>
<p>GoTotGo</p>